<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <style>

    </style>
</head>

<body>
    <div class="bgc">
        <div class="head">
            <h2>落し物管理者画面</h2>
        </div>

        <div class="lostList">
            <div class="form">
                <div class="form_title">パスワードの再発行</div>
                <div class="form_content">
                    <p>パスワードを再発行し、登録されているメールアドレス宛にお知らせします。</p>
                    <form>
                        <div class="form_list">
                            <label>メールアドレス</label>
                            <input name="mail" type="email">

                            <p><a href="./loginPage.html">戻る</a></p>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="regist">
        <a href="User/Login.cshtml"><button class="btn1">パスワードの再発行</button></a>
    </div>

    </div>

</body>

</html>