<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <style>

    </style>
</head>

<body>
    <div class="bgc">
        <div class="head">
            <h2>落し物管理者画面</h2>
        </div>

        <div class="lostList">
            <div class="form">
                <div class="form_title">ログイン</div>
                <div class="form_content">
                    <form>
                        <div class="form_list">

                            <label>指名</label>
                            <input name="name" type="text">

                            <label>団体名</label>
                            <input name="orgName" type="text">

                            <label>メールアドレス</label>
                            <input name="mail" type="email">

                            <label>パスワード</label>
                            <input name="pass" type="password">

                            <p><a href="../Views/User/Login.cshtml">戻る</a></p>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="regist">
        <a href="Main/Top.cshtml"><button class="btn1">登録</button></a>
    </div>

    </div>

</body>

</html>