<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <style>

        .form_textarea {
            font-size: 1rem;
            color: #495057;
            background-color: #ffffff;
            border: 1px solid #ced4da;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 10px;
            margin-top: 5px;
            margin-right: 59.7%;
            float: right;
            width: 40%;
            margin-bottom: 5%;
        }

        .datetime {
            width: 45%;
        }

        .btn2 {
            border-radius: 15px;
            width: 10%;
            height: 90%;
            margin-left: 39%;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
            padding: 4px;
        }

        .btn3 {
            border-radius: 15px;
            width: 10%;
            height: 90%;
            margin-right: 39%;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
            padding: 4px;
        }

        select {
            width: 30%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 25px;
        }
    </style>
</head>

<body>
    <div class="bgc">
        <div class="head">
            <h2>落し物管理者画面</h2>
        </div>

        <div class="lostList">
            <div class="form">
                <div class="form_title">落し物登録フォーム</div>
                <div class="form_content">
                    <form enctype="multipart/form-data" method="post" asp-controller="Main" asp-action="ConfirmPage">
                        <div class="form_list">


                            <label>落し物分類</label><br>
                            <select name="lostType">
                                <option value="筆記用具">筆記用具</option>
                                <option value="電子機器">電子機器</option>
                                <option value="貴重品">貴重品</option>
                                <option value="小物・アクセサリー">小物・アクセサリー</option>
                                <option value="衣類">衣類</option>
                                <option value="書籍類">書籍類</option>
                                <option value="その他">その他</option>
                            </select><br>
                            @model TeamHApp.Models.UploadModel
                            @{
                                ViewData["Title"] = "ファイルアップロード";
                            }


                            <label>写真をアップロ分類ードしてください</label>
                            @if (ViewData["Result"] != null)
                            {
                                @ViewData["Result"]
                                ;
                            }




                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-3">
                                <input name="picture" type="file" />
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit" value="登録確定" />
                            </div>



                            <label>発見場所</label>
                            <input name="foundPlace" type="text">

                            <label>特徴を入力してください</label>


                            <textarea name="feature" class="form_textarea"></textarea>
                    </form>

                    <br>
                </div>

            </div>
        </div>
    </div>

    <div class="regist">
        <a href="Top"><button class="btn2">戻る</button></a>


    </div>


    </div>





    <div>
    </div>

</body>

</html>